body {
}
.lead {
    font-size: 20px;    
}
li {
    line-height: 22px;
}

#main {    
/*    padding-top: 30px;*/   
}
a {
    color: #3872f2;    
}
a:hover {
    color: #3091f7;
}
.main-links {
    list-style: none outside none;
    margin: 0;
}
.main-links li{
    display: inline;
}
.navbar .navbar-inner {
    background-color: white;
    background-image: linear-gradient(to bottom, white, #e7e7e7);
}
.navbar .nav .active > a, .navbar .nav .active > a:hover, .navbar .nav .active > a:focus {
/*    background-color: #9f9f9f;*/
    background-image: linear-gradient(to bottom, #9f9f9f, #e7e7e7);
    color: black;
}
.navbar .brand:hover, .navbar .nav > li > a:hover, .navbar .brand:focus, .navbar .nav > li > a:focus {
    color: gray;
}
.navbar .brand, .navbar .nav > li > a {
    color: #000000;
    text-shadow: none;
}
.navbar-fixed-top {
    margin-bottom: 20px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: static;
}
.tab-pane, #myCarousel, #foot-footer {
    max-width: 800px;
}
.it {
    font-style: italic;
}
#myCarousel {
    min-width: 300px;    
}
#home .item {
/*    width: 600px;*/
}
.carousel .item {
    min-height: 400px;    
}
.carousel .item .container {
    margin-left: auto;
    margin-right: auto;
}

.carousel-caption h2, .carousel-caption .lead {
    color: #FFFFFF;
    line-height: 1.25;
    margin: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);    
    padding-right: 40px;
    padding-left: 40px;
}
.carousel-caption a {
    margin-top: 10px;
    margin-left: 40px;
}
.carousel-control {
    background-color: transparent;
    border: 0 none;
    font-size: 100px;
    height: 80px;
    margin-top: 105px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.mybtn {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #009218;
	*background-color: #009218;
	background-image: -moz-linear-gradient(top, #00C621, #009218);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00C621), to(#009218));
	background-image: -webkit-linear-gradient(top, #00C621, #009218);
	background-image: -o-linear-gradient(top, #00C621, #009218);
	background-image: linear-gradient(to bottom, #00C621, #009218);
	background-repeat: repeat-x;
	border-color: #009218;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00C621', endColorstr='#009218', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.mybtn:hover, .mybtn:active, .mybtn.active, .mybtn.disabled, .mybtn[disabled] {
	color: #FFFFFF;
	background-color: #009218;
	*background-color: #003bb3;
}

.feature {
    padding-top: 10px;
/*    float: right;*/
}

#android_img {
    margin: auto auto;
    opacity:0.6;
    padding: 20px;
    z-index: -2;
    position: absolute;
    top: 10px;
    right: 10px;    
}
#everywhere_img {
    float: left;
    margin-top: 10px;
    margin-left: 50px;
}
#osm_logo {    
    z-index: -1;
/*    position: absolute;
    top: 40px;
    right: 0;*/
/*    float: right;*/
}

#foot-footer {
    color: gray;
    font-size: 9px;
}

.tab-pane {
    min-height: 400px;
}

.carousel {    
    margin-bottom: 0px;
}

.footer {
    padding-top: 30px;
}
#mytabs li img {
    width: 10px;
    padding-left: 5px;
    margin-top: -10px;
}