body {
    /* font-family: 'Arbutus Slab', serif;*/    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
    line-height: 1.4;    
    color: #111111;
    background-color: #ffffff;
    background: url('../img/back_g.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    color: #0088cc;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #005580;
    text-decoration: underline;
}

ul li {
    padding-top: 2px;
}
#main {
    position: relative;
    padding-top: 25px;    
    top: -10px;
    max-width: 680px;
    min-width: 365px;
    /*    opacity:0.9;*/
    background-color: #f1f1f1;
    margin: 0 auto;
}
/* to expand main div's height */
.clearfix { 
    clear: both 
}
.beautyfont {
    font-weight: bold;
    text-shadow: 0 1px 0 gray;
}
.left {
    float: left;
}
.right {
    float: right;
}
#containerlist {
    padding-left: 30px;
    padding-right: 30px;
}
.subproject {
    background-color: white;   
    border: gray groove;
    border-width: 1px;
    border-radius: 20px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 15px;
    width : 260px;
    height: 250px;

    -moz-box-shadow: 7px 4px 5px -2px lightgray;
    -webkit-box-shadow: 7px 4px 5px -2px lightgray;
    box-shadow: 7px 4px 5px -2px lightgray;
}            
.subimg {
    padding: 4px;
    max-width: 100px;
    max-height: 100px;
    float: right;
}
.subheader {
    font-size: 18px;
}
.subtext {
    padding-top: 30px;
    font-size: 16px;
}
#countrylist {
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;
    padding: 0;
    margin: 0;
}
#intro a {
    color: #000000;
    /*    border-bottom: 1px gray dotted;    */
}

#intro {
    padding-top: 1px;
    padding-left: 38px;
    padding-right: 35px;
    padding-bottom: 15px;                
    font-size: 18px;    
}

#header_img {
    text-align:center;
    border-bottom: thin solid gray;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
}
#header {
    /*    font-size: 24px;*/    
    text-shadow: 2px 2px 2px #dddddd;
    filter: dropshadow(color=#dddddd, offx=2, offy=2);
    padding-left: 20px;
    padding-right: 20px;                
    text-align:center;
}
#footer {
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;        
}
#footer div {
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
}
#webdemo, #androiddemo {
    width: 100%;
    text-align: center;
    padding-top: 30px;    
}

#webdemo div, #androiddemo div{
    display: inline-block;
}