a:link { color: #0063AC; text-decoration: none; }
a:visited {color: #258bd5; text-decoration: none; }
a:hover {color: #0066AC; text-decoration: none;  }
body {
    font-family: 'Arbutus Slab', serif;
    color: #000;
    /*    background-color: black;*/
    background: url('../img/back_g.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
ul li {
    padding-top: 2px;
}
#main {
    position: relative;
    padding-top: 30px;    
    top: -10px;
    max-width: 750px;
    min-width: 375px;
/*    opacity:0.9;*/
    background-color: #f1f1f1;
    margin: 0 auto;
}
/* to expand main div's height */
.clearfix { 
    clear: both 
}
.beautyfont {
    font-weight: bold;
    text-shadow: 0 1px 0 gray;
}
.left {
    float: left;
}
.right {
    float: right;
}
.subproject {
    background-color: white;   
    border: gray groove;
    border-width: 2px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 20px;
    width : 280px;
    height: 250px;    

    -moz-box-shadow: 7px 4px 5px -2px lightgray;
    -webkit-box-shadow: 7px 4px 5px -2px lightgray;
    box-shadow: 7px 4px 5px -2px lightgray;
}            
.subimg {
    padding: 4px;
    max-width: 100px;
    max-height: 100px;
    float: right;
}
.subtext {
    padding-top: 30px;
    font-size: 16px;
}
#countrylist {
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;
    padding: 0;
    margin: 0;
}
#intro a {
    color: black;
    border-bottom: 1px gray dotted;    
}
#intro a:hover {
    color: #0066AC;
}
#intro {
    padding-top: 30px;
    padding-left: 38px;
    padding-right: 35px;
    padding-bottom: 15px;                
    font-size: 18px;    
}
#header {
/*    font-size: 24px;*/
    padding-left: 20px;
    padding-right: 20px;                
    text-align:center;
}
#footer {
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;        
}
#footer div {
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
}
#webdemo, #androiddemo {
    padding-top: 30px;
    padding-left: 20px;
}
